/* styles.css

.size {
  max-width: 800px;
  margin: 0 auto;
}
.layout li{
  border: 5px solid rgb(255, 77, 1);
}

/*  */
/* .layout {
  display: flexbox;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.div__items {
  display: grid;
  padding: 2rem 1rem;
  grid-template-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  margin: 0 auto;
  width: 100%;

}

.layout li:hover {
  transform: scale(1.1); 
} */

img{
  width: 200px;
  height: auto;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif;
} */

body{
  
  background-color:rgb(196, 82, 82);
  color: aliceblue;
  font-style:italic,white;
}

.buto {
display: flex;
flex-direction: column;

justify-content: center;
gap: 10px;
width: 100px;
}


/* Optional: Add more styles to customize the appearance */


/* Favorites.css */
button{


  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 7px;
  cursor: pointer;

}






