background-color :  black

li {
  list-style: none;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}


h3 {
  margin-top: 10px;
  font-size: 20px;
}

p {
  margin: 5px 0;
}
img {
  width: 200px; /* Set the desired width of the image */
  height: 150px; /* Set the desired height of the image */
  object-fit: cover; /* Resize the image to cover the entire content area while preserving aspect ratio */
}

