.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1000px;
  }
  .show-info {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  .carousel-slide {
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .arrow-icon {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .backward {
    left: 10px;
  }
  .forward {
    right: 10px;
  }














